# Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# dbt Build Output & Logs
target/
dbt_packages/
dbt_project.yml.user
logs/

# System / Local Configs
*.log
.env
*.pem
aws_keys.json

# Local raw event data (hundreds of thousands of files - crashes git/VS Code file watcher)
local_clickstream_raw/